.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: var(--footerColor);
    height: 100vh;
    width: 20rem;
    z-index: 555;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    box-shadow: 0 0 1rem 0.25rem #00000050;
    backdrop-filter: blur(10px);
}

.sidebar-active {
    transform: translateX(0%);
}

.btn-hide{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    right: -2.5rem;
    top: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar-active .btn-hide{
    transition: transform 0.75s ease;
    transform: rotate(180deg);
}
