* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --headerColor: #FCECDD;
    --mainColor: #FFC288;
    --modalColor: #FEA82F;
    --footerColor: #FF6701;
    --tooltipColor: #fac79c;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    background: var(--mainColor);
}


.main-container {
    width: 50rem;
}

.task-container {
    color: black;
}

.tasks {
    display: flex;
}

li {
    list-style: none;
    text-align: center;
}

.btn {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;

    transition: opacity .15s ease-in-out;
    border-radius: 50px;
    opacity: 65%;
}

.btn:hover {
    opacity: 100%;
}

.current-tasks-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-tasks-gif {
    height: 30rem;
    width: 25rem;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px rgba(66, 68, 90, 1);
}

.current-task-list {
    color: black;
    text-align: center;
    width: 40rem;
    margin: 1rem auto 1rem;
    list-style-type: none;
    padding: 1rem 0;
    height: 85%;
    overflow-y: auto;
}

.task {
    position: relative;
    display: grid;
    grid-template-columns: 14fr 1fr 1fr 1fr 1fr;
    margin: .75rem .25rem;
    padding: 1rem .5rem;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px rgba(66, 68, 90, 1);
}

.task-name-display {
    grid-column: 1/2;
    font-size: 1.125rem;
    font-weight: bold;
}

.task-deadline-exceeded{
    grid-column: 2/3;
}

.btn-deadline-task {
    grid-column: 3/4;
}

.btn-edit-task {
    grid-column: 4/5;
    border: none;
}

.btn-remove-task {
    grid-column: 5/6;
    border: none;
}

.task-importance-background-color-0-date-exceeded{
    background-color: red;
}

.task-importance-background-color-1-high {
    background-color: #f85151;
}

.task-importance-background-color-2-medium {
    background-color: #f6bf5c;
}

.task-importance-background-color-3-low {
    background-color: #58f558;
}

.task-importance-background-color-4-finished {
    background-color: cadetblue;
}

.task-is-finished {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.btn-img {
    width: 1.225rem;
}

.add-task-img {
    width: 2.5rem;
}

.hide-modal-img {
    width: 1rem;
}

.tooltip{
    position: absolute;
    background-color: var(--tooltipColor);
    font-size: .75rem;
    padding: 0.125rem;
    border-radius: 10px;
    opacity: 0;
    padding: .125rem .375rem;
    top:-.25rem;
    right: 2rem;
    transition: opacity 0.25s ease-in-out;
}

.btn-deadline-task:hover .tooltip{
    opacity: 1;
    z-index: 100;
}
